on:
  - push

jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        racket-variant: ['CS']
        racket-version: ['8.6', '8.10', '8.14', '8.18', 'stable', 'current']
    name: Test on Racket ${{ matrix.racket-variant }} ${{ matrix.racket-version }} on ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@main
    - name: Install Racket
      uses: Bogdanp/setup-racket@v1.14
      with:
        architecture: 'x64'
        distribution: 'full'
        variant: ${{ matrix.racket-variant }}
        version: ${{ matrix.racket-version }}
    - name: Install clang
      run: |
        sudo apt install -y clang libssl-dev
    - name: Version info
      run: |
        clang --version
        gcc --version
    - name: Install langs package
      run: |
        raco pkg install --auto ../langs/
    - name: Run tests
      run: |
        xvfb-run raco test -p langs
